<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= content %></p>
<% allBlogs.forEach(function(blog){ %>
 <h2><%=blog.title%></h2>
<p>
<%=blog.content.substring(0, 100) + " ..."%>
<a href="/post/<%=blog._id%>">Read more</a
</p>
<%}) %>

<%- include('partials/footer'); -%>
